section
	text-align: center
	position: relative

	.dobrodosli
		+display(flex)
		+size(510px)
		+flex-wrap(wrap)
		margin: 25px auto
		font-family: 'Tahoma'
		font-size: 14px
		color: #ffffff
		background-image: url(../img/podlaga-body.png)
		box-shadow: 1px 1px 8px rgba(0,0,0,0.5) 
		
		.about
			width: 100%
			text-align: justify
			padding: 40px 40px 0px
			margin: 0 auto

		.info
			width: 100%
			position: relative
			padding: 20px 40px 40px
			+display(flex)
			+justify-content(space-between)
			+align-items(flex-end)
	
			.podjetje
				text-align: left

			.telefon
				text-align: right


