
.nav-test
  +display(flex)
  +justify-content(space-between)
  +align-items(flex-end)
  margin: 10px auto 24px
  height: 180px
  width: 510px
  //background: pink
  
  .logo
    background:
      position: 50% 50%, 50% 50%
      image: url(../img/logo.svg), url(../img/logo-bg.svg)
      size: contain, contain
    fill: rgba(62, 59, 52,1)
    position: relative
    //background: palegreen
    height: 180px
    width: 180px
    text-align: center
    +box-sizing(border-box)
    border: 12px solid rgba(62, 59, 52,1)
    vertical-align: center

  .pisite
    position: relative
    background: #beb8a8
      //position: 50% 50%
      //image: url(../img/logo.svg)
      //size: contain
    fill: rgba(62, 59, 52,1)
    color: rgba(62, 59, 52,1)
    right: 0px
    bottom: 0px
    height: 54px
    width: 54px
    //background: khaki
    text-align: center
    +box-sizing(border-box)
    border: 4px solid rgba(62, 59, 52,1)

    &:hover
      color: rgba(62, 59, 52,1)       
      border: 4px solid #A5FFD6

    &.icon-envelope
      padding-top: 4px        
      font-size: 24px

    .btn-name
      position: absolute
      bottom: 6px
      left: 0
      right: 0
      font:
        family: 'Open sans'
        size: 10px
        weight: 800
      text-transform: uppercase

  .current
    color: rgba(255,255,255,0.4)
    border: 4px solid #A5FFD6

  p
    position: absolute
    left: 50%
    top: 50%
    +transform(translate(-50%, -50%))

@media (max-width: 540px)

  .nav-test
    margin: 20px auto 16px
    width: 100%
    height: auto

    .logo
      height: 120px
      width: 120px
      border: 10px solid rgba(62, 59, 52,1)
      margin-left: 20px

    .pisite
      right: 20px
      bottom: 0px
      height: 54px
      width: 54px
      //background: khaki
      text-align: center
      +box-sizing(border-box)
      border: 4px solid rgba(62, 59, 52,1)

      &:hover
        color: rgba(62, 59, 52,1)        
        border: 4px solid #A5FFD6

      &.icon-envelope
        padding-top: 5px        
        font-size: 23px

      .btn-name
        bottom: 6px
        font:
          size: 10px

    .current
      color: rgba(255,255,255,0.4)
      border: 4px solid #A5FFD6
