.about
	padding: 10px

.dobrodosli
	max-width: 510px
	position: relative

	form
		max-width: 450px
		margin: 0 auto 50px
		
		input, textarea
			text-align: left
			background-color: rgba(255,255,255,0.3)
			color: #4C4C4C
			border: 3px solid rgba(255,255,255,0.4)
			width: 100%
			+box-sizing(border-box)
			padding: 10px
			
			&:focus
				outline: none
				border-color: rgba(153,51,255,0.3)
		
		textarea
			height: 15em	
		
		.submit-wrap
			text-align: right

		[type="submit"]
			// background: $accent
			color: #4C4C4C
			background: rgba(255,255,255,0.1)
			text-align: center
			font-size: 18px
			font-weight: 400
			text-transform: uppercase
			width: 33%
			
			&:hover
				background: rgba(255,255,255,0.8)
				border: 3px solid rgba(153,51,255,0.45)
				color: #4C4C4C

		.contact-info
			width: 430px
			padding-top: 30px

			label
				width: 50%
				float: left
				+box-sizing(border-box)

				&:nth-child(1)
					padding-right: 10px

				&:nth-child(2)
					padding-left: 10px

		label
			color: #4C4C4C
			font-family: 'Tahoma'
			font-weight: 400
			text-align: left
			display: block
			// padding-bottom: 10px
			margin-bottom: 20px
			margin-top: 0px

			span
				font-size: 16px
				display: block
				padding-bottom: 5px
				font-weight: 400

